body {
  background: silver;
}
.App {
  text-align: center;
}
.red {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: red;
  /*max-width: max-content;*/
}
.blue {
  display: flex;
  height: 50px;
  width: 50px;
  background-color: blue;
  /* margin: auto; */
    /*max-width: max-content;*/
}
.inline {
  display: flex;
  justify-content: center;
}